## Pandas-tehtävät

#### Lisää tarvittavat kirjastot ja lue `testidata.csv` niminen tiedosto DataFrame-objektiin

In [1900]:
import re
import pandas as pd

df = pd.read_csv('./testidata.csv', sep = ',', decimal='.', encoding='latin_1')

#### Tulosta DataFrame-objektin viisi viimeistä riviä

In [1901]:
print(df.tail(5))

    Unnamed: 0   sarake1   sarake2   sarake3
20          20  0.300589  0.455980  0.292225
21          21  0.859970  0.346539  0.364629
22          22  0.842364  0.093485  0.662066
23          23  0.781693  0.573344  0.815692
24          24  0.788949  0.945625  0.852690

#### Tulosta datan sarakkeiden otsikot list-objektina

In [1902]:
print(df.columns.tolist())

['Unnamed: 0', 'sarake1', 'sarake2', 'sarake3']

#### Tulosta `sarake2`:n pituus

In [1903]:
print(df.sarake2.count())

25

#### Tulosta datan ensimmäinen rivin tiedot

In [1904]:
print(df.head(1))

   Unnamed: 0   sarake1   sarake2   sarake3
0           0  0.319219  0.380058  0.919389

#### Pudota datasta  `Unnamed: 0` niminen sarake ja todenna lopputulos valitsemallasi tavalla

In [1905]:
del df['Unnamed: 0']
print(df.head(1))

    sarake1   sarake2   sarake3
0  0.319219  0.380058  0.919389

#### Poista rivit, jos sarakkeessa `sarake1` esiintyy arvo 0.2 tai pienempi

In [1906]:
df = df[df['sarake1']>0.2]

#### Tulosta `sarake1` sarakkeen minimi- ja maksimiarvo

In [1907]:
print(df.sarake1.min())

0.2731929006731526

In [1908]:
print(df.sarake1.max())

0.9358745961778226

#### Tee ensimmäisen rivin ensimmäisen sarakkeen arvosta nan

In [1909]:
 #df.at[0, 'sarake1'] = None
df.iat[0,0] = None

#### Pudota rivit, joissa esiintyy nan-arvo

In [1910]:
print(df.head(1))
df.dropna(inplace=True)
print(df.head(1))

   sarake1   sarake2   sarake3
0      NaN  0.380058  0.919389
    sarake1   sarake2   sarake3
1  0.922251  0.490721  0.133932

#### Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [1911]:
#df.iloc[0::5, :] = None
df.iloc[4, :] = None
df.iloc[9, :] = None
print(df)

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8        NaN       NaN       NaN
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15       NaN       NaN       NaN
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [1912]:
df.isna().sum()

sarake1    2
sarake2    2
sarake3    2
dtype: int64

#### Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [1913]:
df.interpolate(inplace=True)
print(df)

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.600548  0.721495  0.518241
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.526730  0.379381  0.410849
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [1914]:
df.at[df.index[-1], 'sarake1'] = 94
df.at[df.index[-1], 'sarake3'] = 45
print(df.tail(1))

    sarake1   sarake2  sarake3
24     94.0  0.945625     45.0

#### Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [1915]:
df['sarake4']=df['sarake1']+df['sarake3']
print(df)

      sarake1   sarake2    sarake3     sarake4
1    0.922251  0.490721   0.133932    1.056182
3    0.363707  0.878349   0.485700    0.849407
6    0.323134  0.036466   0.186775    0.509909
7    0.467610  0.850993   0.377558    0.845168
8    0.600548  0.721495   0.518241    1.118788
9    0.733485  0.591996   0.658924    1.392409
10   0.641628  0.251886   0.274987    0.916615
12   0.319906  0.489200   0.990319    1.310225
13   0.780267  0.458454   0.053428    0.833695
15   0.526730  0.379381   0.410849    0.937579
17   0.273193  0.300307   0.768270    1.041463
18   0.467060  0.225161   0.911570    1.378630
20   0.300589  0.455980   0.292225    0.592814
21   0.859970  0.346539   0.364629    1.224599
22   0.842364  0.093485   0.662066    1.504430
23   0.781693  0.573344   0.815692    1.597386
24  94.000000  0.945625  45.000000  139.000000

#### Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [1916]:
df.reset_index(drop=True, inplace=True)
df.shape[0]

17

#### Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [1917]:
#size = len(df.index)
size = df.shape[0]
time_serie = pd.date_range(start='8/25/2020', periods=size, freq='H')
df['time'] = time_serie
df.set_index('time', inplace=True)
print(df)

                       sarake1   sarake2    sarake3     sarake4
time
2020-08-25 00:00:00   0.922251  0.490721   0.133932    1.056182
2020-08-25 01:00:00   0.363707  0.878349   0.485700    0.849407
2020-08-25 02:00:00   0.323134  0.036466   0.186775    0.509909
2020-08-25 03:00:00   0.467610  0.850993   0.377558    0.845168
2020-08-25 04:00:00   0.600548  0.721495   0.518241    1.118788
2020-08-25 05:00:00   0.733485  0.591996   0.658924    1.392409
2020-08-25 06:00:00   0.641628  0.251886   0.274987    0.916615
2020-08-25 07:00:00   0.319906  0.489200   0.990319    1.310225
2020-08-25 08:00:00   0.780267  0.458454   0.053428    0.833695
2020-08-25 09:00:00   0.526730  0.379381   0.410849    0.937579
2020-08-25 10:00:00   0.273193  0.300307   0.768270    1.041463
2020-08-25 11:00:00   0.467060  0.225161   0.911570    1.378630
2020-08-25 12:00:00   0.300589  0.455980   0.292225    0.592814
2020-08-25 13:00:00   0.859970  0.346539   0.364629    1.224599
2020-08-25 14:00:00   0.842364  0.093485   0.662066    1.504430
2020-08-25 15:00:00   0.781693  0.573344   0.815692    1.597386
2020-08-25 16:00:00  94.000000  0.945625  45.000000  139.000000

#### Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [1918]:
df.sarake1 = df.sarake1.astype(str).str.replace('0','ND')
print(df.sarake1)

time
2020-08-25 00:00:00      ND.92225ND592ND455354
2020-08-25 01:00:00       ND.3637ND65716836567
2020-08-25 02:00:00       ND.32313386814ND7583
2020-08-25 03:00:00     ND.4676ND99556ND15ND96
2020-08-25 04:00:00     ND.6NDND54763516866ND7
2020-08-25 05:00:00        ND.7334853147358118
2020-08-25 06:00:00       ND.641628229ND317612
2020-08-25 07:00:00    ND.3199ND554258ND25ND83
2020-08-25 08:00:00       ND.78ND2672238818178
2020-08-25 09:00:00      ND.52673NDND622774852
2020-08-25 10:00:00      ND.2731929NDND6731526
2020-08-25 11:00:00    ND.467ND6NDND4ND1299349
2020-08-25 12:00:00    ND.3NDND5888788521NDND1
2020-08-25 13:00:00      ND.8599699ND1ND91ND25
2020-08-25 14:00:00       ND.8423644152934ND61
2020-08-25 15:00:00       ND.78169332392ND8187
2020-08-25 16:00:00                      94.ND
Name: sarake1, dtype: object

#### Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [1919]:
sarakkeet = ['sarake5', 'sarake6', 'sarake7', 'sarake8']
df[sarakkeet] = df.copy(deep=True)
print(df)

                                     sarake1   sarake2    sarake3     sarake4  \
time
2020-08-25 00:00:00    ND.92225ND592ND455354  0.490721   0.133932    1.056182
2020-08-25 01:00:00     ND.3637ND65716836567  0.878349   0.485700    0.849407
2020-08-25 02:00:00     ND.32313386814ND7583  0.036466   0.186775    0.509909
2020-08-25 03:00:00   ND.4676ND99556ND15ND96  0.850993   0.377558    0.845168
2020-08-25 04:00:00   ND.6NDND54763516866ND7  0.721495   0.518241    1.118788
2020-08-25 05:00:00      ND.7334853147358118  0.591996   0.658924    1.392409
2020-08-25 06:00:00     ND.641628229ND317612  0.251886   0.274987    0.916615
2020-08-25 07:00:00  ND.3199ND554258ND25ND83  0.489200   0.990319    1.310225
2020-08-25 08:00:00     ND.78ND2672238818178  0.458454   0.053428    0.833695
2020-08-25 09:00:00    ND.52673NDND622774852  0.379381   0.410849    0.937579
2020-08-25 10:00:00    ND.2731929NDND6731526  0.300307   0.768270    1.041463
2020-08-25 11:00:00  ND.467ND6NDND4ND1299349  0.225161   0.911570    1.378630
2020-08-25 12:00:00  ND.3NDND5888788521NDND1  0.455980   0.292225    0.592814
2020-08-25 13:00:00    ND.8599699ND1ND91ND25  0.346539   0.364629    1.224599
2020-08-25 14:00:00     ND.8423644152934ND61  0.093485   0.662066    1.504430
2020-08-25 15:00:00     ND.78169332392ND8187  0.573344   0.815692    1.597386
2020-08-25 16:00:00                    94.ND  0.945625  45.000000  139.000000

                                     sarake5   sarake6    sarake7     sarake8
time
2020-08-25 00:00:00    ND.92225ND592ND455354  0.490721   0.133932    1.056182
2020-08-25 01:00:00     ND.3637ND65716836567  0.878349   0.485700    0.849407
2020-08-25 02:00:00     ND.32313386814ND7583  0.036466   0.186775    0.509909
2020-08-25 03:00:00   ND.4676ND99556ND15ND96  0.850993   0.377558    0.845168
2020-08-25 04:00:00   ND.6NDND54763516866ND7  0.721495   0.518241    1.118788
2020-08-25 05:00:00      ND.7334853147358118  0.591996   0.658924    1.392409
2020-08-25 06:00:00     ND.641628229ND317612  0.251886   0.274987    0.916615
2020-08-25 07:00:00  ND.3199ND554258ND25ND83  0.489200   0.990319    1.310225
2020-08-25 08:00:00     ND.78ND2672238818178  0.458454   0.053428    0.833695
2020-08-25 09:00:00    ND.52673NDND622774852  0.379381   0.410849    0.937579
2020-08-25 10:00:00    ND.2731929NDND6731526  0.300307   0.768270    1.041463
2020-08-25 11:00:00  ND.467ND6NDND4ND1299349  0.225161   0.911570    1.378630
2020-08-25 12:00:00  ND.3NDND5888788521NDND1  0.455980   0.292225    0.592814
2020-08-25 13:00:00    ND.8599699ND1ND91ND25  0.346539   0.364629    1.224599
2020-08-25 14:00:00     ND.8423644152934ND61  0.093485   0.662066    1.504430
2020-08-25 15:00:00     ND.78169332392ND8187  0.573344   0.815692    1.597386
2020-08-25 16:00:00                    94.ND  0.945625  45.000000  139.000000

Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Summaa kyseiset muuttujat merkkijonona sekä poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [1920]:
muuttuja = df.at[df.index[-1], 'sarake5']
erillinen_muuttuja = df.at[df.index[-1], 'sarake3'].astype(str)
summa = muuttuja + erillinen_muuttuja
summa = summa[:-2]
summa = re.sub(r'[.]', '', summa)
print(summa)

94ND45