## SQLite-tehtävät

Lisää tarvittavat kirjastot ja tee `testi.db` niminen tietokanta (SQLite3)

In [38]:
import sqlite3
conn = sqlite3.connect('testi.db')

Luo yhteys tietokantaan

In [39]:
c = conn.cursor()

Tee tietokantaan seuraavanlainen taulu, jonka nimi on `henkilotaulu`:
    
| Nimi        | Ika           | Kengankoko  |
| ------------- |-------------| -----|
| Teppo      | 88 | 47 |
| Matti      | 34     | 39 |
| Ilona | 41      |    36 |
| Sonja | 32      |    37 |

In [40]:
drop_command = '''DROP TABLE IF EXISTS henkilotaulu;'''
create_command = '''CREATE TABLE IF NOT EXISTS henkilotaulu
             (Nimi, Ika, Kengankoko)'''

c.execute(drop_command)
c.execute(create_command)


example_data = [("Teppo", 88, 47), ("Matti", 34, 39), ("Ilona", 41, 36), ("Sonja", 32, 37)]
for data_row in example_data:
    c.execute('''INSERT INTO henkilotaulu VALUES {0}'''.format(data_row))

# Tallennetaan muutkset
conn.commit()

Kun Taulu on tehty, niin hae taulu Pandasin DataFrame-objektiin ja lisää siihen sarake `Hatunkoko`, jonka jälkeen täytä se valitsemillasi arvoilla

In [41]:
import pandas as pd

query = '''SELECT * FROM henkilotaulu'''
#data = c.execute(query)
#retrieved_data = data.fetchall()
#retrieved_data

df = pd.read_sql(query, conn)
df['Hatunkoko'] = [13,12,11,10]
print(df)

    Nimi  Ika  Kengankoko  Hatunkoko
0  Teppo   88          47         13
1  Matti   34          39         12
2  Ilona   41          36         11
3  Sonja   32          37         10

Tee taulusta kopio, jonka nimi on `henkilotaulukopio` ja lisää siihen rivi valitsemillasi arvoilla

In [42]:
dfKopio = df
df.to_sql('henkilotaulukopio', conn, if_exists='replace')

newValues = (4, "Matias", 12, 33, 9)
conn.execute('''INSERT INTO henkilotaulukopio VALUES {0}'''.format(newValues))

query = '''SELECT * FROM henkilotaulukopio'''
data = c.execute(query)
retrieved_data = data.fetchall()
retrieved_data

[(0, 'Teppo', 88, 47, 13),
 (1, 'Matti', 34, 39, 12),
 (2, 'Ilona', 41, 36, 11),
 (3, 'Sonja', 32, 37, 10),
 (4, 'Matias', 12, 33, 9)]

Tallenna tietokanta `.db` muotoon ja sulje yhteys

In [43]:
conn.close()

import shutil

shutil.copy2('testi.db', 'kopio.db')

'kopio.db'