## Pandas-tehtävät OSA 2

#### Lue edellisen harjoituksen lopussa tallennetun data_export.csv-tiedoston sisältö dataframeen

In [124]:
import re
import pandas as pd

df = pd.read_csv('./data_export.csv', sep = ',', decimal='.', encoding='latin_1')

# tiputa unnamed
del df['Unnamed: 0']
print(df.head(1))

#### Pudota rivit, joissa esiintyy nan-arvo

In [125]:
print(df.head(1))
df.dropna(inplace=True)
print(df.head(1))

   Unnamed: 0  sarake1   sarake2   sarake3
0           0      NaN  0.380058  0.919389
   Unnamed: 0   sarake1   sarake2   sarake3
1           1  0.922251  0.490721  0.133932

#### Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [126]:
#df.iloc[0::5, :] = None
df.iloc[4, :] = None
df.iloc[9, :] = None
print(df)

    Unnamed: 0   sarake1   sarake2   sarake3
1          1.0  0.922251  0.490721  0.133932
2          3.0  0.363707  0.878349  0.485700
3          6.0  0.323134  0.036466  0.186775
4          7.0  0.467610  0.850993  0.377558
5          NaN       NaN       NaN       NaN
6          9.0  0.733485  0.591996  0.658924
7         10.0  0.641628  0.251886  0.274987
8         12.0  0.319906  0.489200  0.990319
9         13.0  0.780267  0.458454  0.053428
10         NaN       NaN       NaN       NaN
11        17.0  0.273193  0.300307  0.768270
12        18.0  0.467060  0.225161  0.911570
13        20.0  0.300589  0.455980  0.292225
14        21.0  0.859970  0.346539  0.364629
15        22.0  0.842364  0.093485  0.662066
16        23.0  0.781693  0.573344  0.815692
17        24.0  0.788949  0.945625  0.852690

#### Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [127]:
df.isna().sum()

Unnamed: 0    2
sarake1       2
sarake2       2
sarake3       2
dtype: int64

#### Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [128]:
df.interpolate(inplace=True)
print(df)

    Unnamed: 0   sarake1   sarake2   sarake3
1          1.0  0.922251  0.490721  0.133932
2          3.0  0.363707  0.878349  0.485700
3          6.0  0.323134  0.036466  0.186775
4          7.0  0.467610  0.850993  0.377558
5          8.0  0.600548  0.721495  0.518241
6          9.0  0.733485  0.591996  0.658924
7         10.0  0.641628  0.251886  0.274987
8         12.0  0.319906  0.489200  0.990319
9         13.0  0.780267  0.458454  0.053428
10        15.0  0.526730  0.379381  0.410849
11        17.0  0.273193  0.300307  0.768270
12        18.0  0.467060  0.225161  0.911570
13        20.0  0.300589  0.455980  0.292225
14        21.0  0.859970  0.346539  0.364629
15        22.0  0.842364  0.093485  0.662066
16        23.0  0.781693  0.573344  0.815692
17        24.0  0.788949  0.945625  0.852690

#### Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [129]:
df.at[df.index[-1], 'sarake1'] = 94
df.at[df.index[-1], 'sarake3'] = 45
print(df.tail(1))

    Unnamed: 0  sarake1   sarake2  sarake3
17        24.0     94.0  0.945625     45.0

#### Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [130]:
df['sarake4']=df['sarake1']+df['sarake3']
print(df)

    Unnamed: 0    sarake1   sarake2    sarake3     sarake4
1          1.0   0.922251  0.490721   0.133932    1.056182
2          3.0   0.363707  0.878349   0.485700    0.849407
3          6.0   0.323134  0.036466   0.186775    0.509909
4          7.0   0.467610  0.850993   0.377558    0.845168
5          8.0   0.600548  0.721495   0.518241    1.118788
6          9.0   0.733485  0.591996   0.658924    1.392409
7         10.0   0.641628  0.251886   0.274987    0.916615
8         12.0   0.319906  0.489200   0.990319    1.310225
9         13.0   0.780267  0.458454   0.053428    0.833695
10        15.0   0.526730  0.379381   0.410849    0.937579
11        17.0   0.273193  0.300307   0.768270    1.041463
12        18.0   0.467060  0.225161   0.911570    1.378630
13        20.0   0.300589  0.455980   0.292225    0.592814
14        21.0   0.859970  0.346539   0.364629    1.224599
15        22.0   0.842364  0.093485   0.662066    1.504430
16        23.0   0.781693  0.573344   0.815692    1.597386
17        24.0  94.000000  0.945625  45.000000  139.000000

#### Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [131]:
df.reset_index(drop=True, inplace=True)
df.shape[0]

17

#### Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [132]:
#size = len(df.index)
size = df.shape[0]
time_serie = pd.date_range(start='8/25/2020', periods=size, freq='H')
df['time'] = time_serie
df.set_index('time', inplace=True)
print(df)

                     Unnamed: 0    sarake1   sarake2    sarake3     sarake4
time
2020-08-25 00:00:00         1.0   0.922251  0.490721   0.133932    1.056182
2020-08-25 01:00:00         3.0   0.363707  0.878349   0.485700    0.849407
2020-08-25 02:00:00         6.0   0.323134  0.036466   0.186775    0.509909
2020-08-25 03:00:00         7.0   0.467610  0.850993   0.377558    0.845168
2020-08-25 04:00:00         8.0   0.600548  0.721495   0.518241    1.118788
2020-08-25 05:00:00         9.0   0.733485  0.591996   0.658924    1.392409
2020-08-25 06:00:00        10.0   0.641628  0.251886   0.274987    0.916615
2020-08-25 07:00:00        12.0   0.319906  0.489200   0.990319    1.310225
2020-08-25 08:00:00        13.0   0.780267  0.458454   0.053428    0.833695
2020-08-25 09:00:00        15.0   0.526730  0.379381   0.410849    0.937579
2020-08-25 10:00:00        17.0   0.273193  0.300307   0.768270    1.041463
2020-08-25 11:00:00        18.0   0.467060  0.225161   0.911570    1.378630
2020-08-25 12:00:00        20.0   0.300589  0.455980   0.292225    0.592814
2020-08-25 13:00:00        21.0   0.859970  0.346539   0.364629    1.224599
2020-08-25 14:00:00        22.0   0.842364  0.093485   0.662066    1.504430
2020-08-25 15:00:00        23.0   0.781693  0.573344   0.815692    1.597386
2020-08-25 16:00:00        24.0  94.000000  0.945625  45.000000  139.000000

#### Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [133]:
df.sarake1 = df.sarake1.astype(str).str.replace('0','ND')
print(df.sarake1)

time
2020-08-25 00:00:00      ND.92225ND592ND455354
2020-08-25 01:00:00       ND.3637ND65716836567
2020-08-25 02:00:00       ND.32313386814ND7583
2020-08-25 03:00:00     ND.4676ND99556ND15ND96
2020-08-25 04:00:00     ND.6NDND54763516866ND7
2020-08-25 05:00:00        ND.7334853147358118
2020-08-25 06:00:00       ND.641628229ND317612
2020-08-25 07:00:00    ND.3199ND554258ND25ND83
2020-08-25 08:00:00       ND.78ND2672238818178
2020-08-25 09:00:00      ND.52673NDND622774852
2020-08-25 10:00:00      ND.2731929NDND6731526
2020-08-25 11:00:00    ND.467ND6NDND4ND1299349
2020-08-25 12:00:00    ND.3NDND5888788521NDND1
2020-08-25 13:00:00      ND.8599699ND1ND91ND25
2020-08-25 14:00:00       ND.8423644152934ND61
2020-08-25 15:00:00       ND.78169332392ND8187
2020-08-25 16:00:00                      94.ND
Name: sarake1, dtype: object

#### Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [134]:
sarakkeet = ['sarake5', 'sarake6', 'sarake7', 'sarake8']
#df[sarakkeet] = df.copy(deep=True)
print(df)

                     Unnamed: 0                  sarake1   sarake2    sarake3  \
time
2020-08-25 00:00:00         1.0    ND.92225ND592ND455354  0.490721   0.133932
2020-08-25 01:00:00         3.0     ND.3637ND65716836567  0.878349   0.485700
2020-08-25 02:00:00         6.0     ND.32313386814ND7583  0.036466   0.186775
2020-08-25 03:00:00         7.0   ND.4676ND99556ND15ND96  0.850993   0.377558
2020-08-25 04:00:00         8.0   ND.6NDND54763516866ND7  0.721495   0.518241
2020-08-25 05:00:00         9.0      ND.7334853147358118  0.591996   0.658924
2020-08-25 06:00:00        10.0     ND.641628229ND317612  0.251886   0.274987
2020-08-25 07:00:00        12.0  ND.3199ND554258ND25ND83  0.489200   0.990319
2020-08-25 08:00:00        13.0     ND.78ND2672238818178  0.458454   0.053428
2020-08-25 09:00:00        15.0    ND.52673NDND622774852  0.379381   0.410849
2020-08-25 10:00:00        17.0    ND.2731929NDND6731526  0.300307   0.768270
2020-08-25 11:00:00        18.0  ND.467ND6NDND4ND1299349  0.225161   0.911570
2020-08-25 12:00:00        20.0  ND.3NDND5888788521NDND1  0.455980   0.292225
2020-08-25 13:00:00        21.0    ND.8599699ND1ND91ND25  0.346539   0.364629
2020-08-25 14:00:00        22.0     ND.8423644152934ND61  0.093485   0.662066
2020-08-25 15:00:00        23.0     ND.78169332392ND8187  0.573344   0.815692
2020-08-25 16:00:00        24.0                    94.ND  0.945625  45.000000

                        sarake4
time
2020-08-25 00:00:00    1.056182
2020-08-25 01:00:00    0.849407
2020-08-25 02:00:00    0.509909
2020-08-25 03:00:00    0.845168
2020-08-25 04:00:00    1.118788
2020-08-25 05:00:00    1.392409
2020-08-25 06:00:00    0.916615
2020-08-25 07:00:00    1.310225
2020-08-25 08:00:00    0.833695
2020-08-25 09:00:00    0.937579
2020-08-25 10:00:00    1.041463
2020-08-25 11:00:00    1.378630
2020-08-25 12:00:00    0.592814
2020-08-25 13:00:00    1.224599
2020-08-25 14:00:00    1.504430
2020-08-25 15:00:00    1.597386
2020-08-25 16:00:00  139.000000

Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Summaa kyseiset muuttujat merkkijonona sekä poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [135]:
muuttuja = df.at[df.index[-1], 'sarake5']
erillinen_muuttuja = df.at[df.index[-1], 'sarake3'].astype(str)
summa = muuttuja + erillinen_muuttuja
summa = summa[:-2]
summa = re.sub(r'[.]', '', summa)
print(summa)

KeyError: 'sarake5'